<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Ed's Sheds</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Ed's Sheds - Garden shed nanufacturers in Lancashire. Bespoke buildings, log cabins, garden furniture, summer houses, playhouse, gates, fencing, decking, corner houses and more, dog kennels, aviaries and animal homes" />
    <meta name="robots" content="sheds, lancashire, log cabins, summer houses, play houses, decking, fencing, gates, corner houses, pet food, bespoke, made to order, pet buildings, dog kennels, aviaries, animal homes" />
    <meta name="googlebot" content="sheds, Lancashire, log cabins, summer houses, play houses, decking, fencing, gates, corner houses, pet food, bespoke, made to order, pet buildings, dog kennels, aviaries, animal homes">
    <meta name="keywords" content="sheds, Lancashire, log cabins, summer houses, play houses, decking, fencing, gates, corner houses, pet food, bespoke, made to order, pet buildings, dog kennels, aviaries, animal homes">

    @Styles.Render("~/Content/front")
    @Styles.Render("~/Content/bootstrap")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            $("#tooltip-ex a").tooltip({
                placement: 'top'
            });
        });
    </script>
</head>

<body style="background-color: #44403c;">
    <!-- Navigation -->
    <div style="background-color: #8bb839; -moz-min-width: 380px; -ms-min-width: 380px; -o-min-width: 380px; -webkit-min-width: 380px; min-width: 380px; height: 120px;">

        <div class="row-fluid" style="margin-left:0px;">
            <div class="offset2 span8 hidden-phone" style="text-align: left;">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 119px;">
                            <a href="~/home"><img src="~/Images/Content/eds_logo.png" style="margin-top: -2px; display: block; text-align: left; vertical-align: bottom;"></a>
                        </td>
                        <td style="padding-left: 10px; vertical-align: bottom; text-align: left;">
                            <p style="font-family: Gotham-Bold; margin-bottom: 10px; margin-right: 10px; font-size: 12pt;">
                                BESPOKE QUALITY BUILDINGS,<br />
                                LOG CABINS, GATES, FENCING &amp; DECKING
                            </p>
                        </td>
                        <td style="text-align: right; vertical-align: top; padding-top: 15px;">
                            <a href="https://plus.google.com/+EdsshedsOrg/posts?hl=en" target="_blank" title="Follow on Google +">
                                <img src="~/Images/Google_plus.png" style="margin-top: -2px; text-align: right; vertical-align: top; padding-bottom: 15px;" alt="Follow Us On Google +">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="hidden-desktop hidden-tablet">
            <table style="margin-left: 15px; width: 100%">
                <tr>
                    <td style="width: 119px">
                        <a href="~/home"><img src="~/Images/Content/eds_logo.png" style="margin-top: -2px; text-align: left; vertical-align: bottom;"></a>
                    </td>
                    <td style="padding-left: 10px; vertical-align: bottom; text-align: left;">
                        <p style="font-family: Gotham-Bold; margin-bottom: 10px; margin-right: 10px;">
                            BESPOKE QUALITY BUILDINGS,<br />
                            LOG CABINS, GATES, FENCING &amp; DECKING
                        </p>
                    </td>

                    <td style="vertical-align: top; text-align: right; padding-top: 15px; padding-right: 15px; white-space: nowrap">
                        <a href="https://plus.google.com/+EdsshedsOrg/posts?hl=en" target="_blank">
                            <img src="~/Images/Google_plus.png" style="margin-top:-2px; text-align: right; vertical-align: top; padding-bottom: 15px; padding-right: 15px;" alt="Follow Us On Google +">
                        </a>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="row-fluid" style="-moz-min-width: 380px; -ms-min-width: 380px; -o-min-width: 380px; -webkit-min-width: 380px; min-width: 380px;">
        <div style="border-bottom: 1px solid #959292; border-top: 1px solid #959292; height: 27px; background-color: #f6f4bf;">
            <div class="navigation">
                <div class="offset2 span8 hidden-phone" style="margin-bottom: -3px; margin-top: -2px;">
                    <ul>
                        <li style="margin-left:-1px;"><a id="home" href="~/" style="border-right-width: 0; background-color: #f6f4bf;">HOME</a></li>
                        <li><a id="gallery" href="~/gallery" style="border-right-width: 0; background-color: #f6f4bf;">GALLERY</a></li>
                        <li><a id="offers" href="~/offers" style="border-right-width: 0; background-color: #f6f4bf;">OFFERS</a></li>
                        <li><a id="priceLists" href="~/price-lists" style="border-right-width: 0; background-color: #f6f4bf;">PRICE LISTS</a></li>
                        <li><a id="findingUs" href="~/finding-us" style="background-color: #f6f4bf;">FINDING US</a></li>
                    </ul>
                </div>
                <div class="offset2 span8 hidden-desktop hidden-tablet" style="margin-bottom: -3px; margin-top: -2px;">
                    <ul>
                        <li style="margin-left:-2px;"><a id="home" href="~/" style="border-right-width: 0; font-size: 7pt; background-color: #f6f4bf;">HOME</a></li>
                        <li><a id="gallery" href="~/gallery" style="border-right-width: 0; font-size: 7pt; background-color: #f6f4bf;">GALLERY</a></li>
                        <li><a id="offers" href="~/offers" style="border-right-width: 0; font-size: 7pt; background-color: #f6f4bf;">OFFERS</a></li>
                        <li><a id="priceLists" href="~/price-lists" style="border-right-width: 0; font-size: 7pt; background-color: #f6f4bf;">PRICE LISTS</a></li>
                        <li><a id="findingUs" href="~/finding-us" style="font-size: 7pt; background-color: #f6f4bf;">FINDING US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div id="body" style="-moz-min-width: 380px; -ms-min-width: 380px; -o-min-width: 380px; -webkit-min-width: 380px; min-width: 380px;">

        <section class="content-wrapper">
            <div class="row-fluid" style="background-color: #f6f4bf;">
                <div class="span12">@RenderBody()</div>
            </div>
        </section>
    </div>
    <script>
        $("A").each(function () {
            if (this.href == document.URL) {
                if (this.ID != 'home') {
                    $(this).addClass('active');
                }
            }

        });
    </script>
    <script>
        $("A").each(function () {
            if (this.id == 'home') {
                $(this).removeClass('active');
            }
        });
    </script>
    <script>
        if (document.location.pathname == '/') {
            $("#home").addClass('active');
        }
    </script>
    <footer>
        <div class="footer">
            <div style="text-align: center;">
                <a href="~/terms-and-conditions" style="white-space: nowrap; overflow:hidden;">Terms &amp; Conditions</a><span style="color: #8bb839; white-space: nowrap; overflow:hidden;"> | </span>
                <a href="~/privacy-policy" style="white-space: nowrap; overflow: hidden;">Cookie &amp; Privacy Policy</a><span style="color: #8bb839; white-space: nowrap; overflow:hidden;"> | </span>
                <a href="~/contact-us" style=" white-space: nowrap; overflow: hidden;">Contact Us</a><span style="color: #8bb839; white-space: nowrap; overflow:hidden;"> | </span>
                <a href="https://plus.google.com/+EdsshedsOrg/posts?hl=en" target="_blank" title="Follow on Google +" style=" white-space: nowrap; overflow: hidden;">Google +</a><span style="color: #8bb839; white-space: nowrap; overflow:hidden;"> | </span>
                <a href="~/admin" style="white-space: nowrap; overflow: hidden;">Staff Admin</a>
            </div>
            <div style="text-align: center; padding-top: 1em; font-size: 9pt;">
                <span style="color: #8bb839; white-space: nowrap; overflow:hidden;">&copy;</span> Ed's Sheds. <span style="color: #8bb839; white-space: nowrap; overflow:hidden;">All rights reserved.</span>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
